name: CI/CD

on:
    push:
        branches: [ "main" ] 
    pull_request:
        branches: [ "main" ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Login Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets. DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Build e push da imagem para o Docker Hub
              run: |
                IMAGE=${{ secrets.DOCKER_USERNAME }}/hello-app
                TAG=$(date +%s)
                docker build -t $IMAGE:$TAG .
                docker push $IMAGE:$TAG
                echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV
            - name: Clonar repositório de manifests via SSH
              uses: actions/checkout@v4
              with:
               repository: pedro-albertini/hello-manifests
               ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
               path: manifests
               persist-credentials: false

            - name: Atualizar imagem no deployment.yaml
              run: |
                cd manifests
                sed -i "s#image: .*\$#image: ${{ secrets.DOCKER_USERNAME }}/hello-app:${{ env.IMAGE_TAG }}#" deployment.yaml
                git config --global user.email "github-actions@github.com"
                git config --global user.name "GitHub Actions"
                git add deployment.yaml
                git commit -m "Update image tag to ${{ env.IMAGE_TAG }}" || echo "Nada para commitar"
                git push origin main || echo "Push não necessário"
